@import "tailwindcss";

:root {
  --background: #3874dc;
  --foreground: #c1b3b3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #98b3e2;
    --foreground: #725353;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50;
  align-items:center;
  display:flex;
  justify-content:center;
  min-height:100vh;
  
}
.box{
  border:2px solid rgb(10, 7, 7);
  padding:17px;
  background:rgb(49, 48, 63);
  border-radius:5px;
  min-height:30vh;
}

